body {
	background-color: #fbf4ea;
	margin: 0;
}

#main-body {
	width: 100%;
	margin: auto;
	background-color: white;
}

#main-body div {	
	text-align: center;
}

#main-body>div:nth-child(odd) {
	background-color: #fbf4ea;
}

#navbar {
	text-align: center;
}

#navbar ul {
	list-style-type: none;
	background-color: #fbf4ea;
	margin: 0;
	padding: 20px 0;	
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

#navbar li {
	display: inline;
	padding: 10px 50px;
}

#navbar li a {
	text-decoration: none;
	color: inherit;
}

#navbar li:hover {
	/*background-color: #800020;*/
	/*color: white;*/
	border-bottom: 5px solid #800020;
}

#banner {
	width: 100%;
	height: 450px;
	margin: auto;
	background-image: url("../img/kf1dreamy.jpg");
    background-position-y: -200px;
    background-position-x: center;
    background-repeat: no-repeat;	
	text-align: center;
    padding-top: 150px;
}

#kentonandfaye {
    font-size: 80px;
    font-weight: lighter;
    letter-spacing: 30px;
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
                 0px -5px 35px rgba(255,255,255,0.3);
}

#rsvp-button {
	margin-top: 130px;
}

#rsvp-button a {
	text-decoration: none;
	background-color: #800020;
	border-radius: 30%;
	font-size: 3rem;
	color: white;
	padding: 1rem 2rem;
}

#rsvp-button a:hover {
	background-color: #fbf4ea;
	border: 5px solid #800020;
	color: #800020;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#invitation-text {
	font-size: 3rem;
	color: #800020;
}

#celebrants {
	display: flex;
	justify-content: space-between;
}

#celebrants div {
	width: calc(100%/3);
	padding: 100px 0;
}

#celebrants img {
	width: 250px;
	height: 250px;
	border-radius: 50%;
	border: 5px solid #800020;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#event {
	padding-top: 70px;
}

#event h1 {
	color: #800020;
	margin: 0;
}


#details {
	padding: 30px 50px 100px 50px;
	text-align: center;
	display: flex;
	justify-content: space-between;
}

#details div {
	width: calc(100%/4);
	padding: 50px 0;
	background-color: white;
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

#entourage {
	padding: 100px 0;
}

#entourage h1 {
	color: #800020;
}

#entourage-table {
	margin: auto;
	border: 3px solid #800020;
	padding: 20px 30px;
}

#entourage-table td:nth-child(odd) {
	text-align: right;
	padding-right: 10px;
}

#entourage-table td:nth-child(even) {
	text-align: left;
	padding-left: 10px;
}

#entourage-table td:only-child {
	text-align: center;
}

#entourage th {
	padding: 30px 0 10px 0;
}

#entourage td {
	padding: 5px 0;
}

#go-to-map a {
	text-decoration: none;
	color: inherit;
}

#resources {
	padding: 100px 0;
}

#resources h1 {
	color: #800020;
}

#resources a {
	text-decoration: none;
	color: inherit;
}

#map {
	padding: 100px 0;
}

#map h1 {
	color: #800020;
}

#contact {
	padding: 100px 0;
}

#contact h1 {
	color: #800020;
}

.male {
	color: #000080;
	font-weight: bold;
}

.female {
	color: #800020;
	font-weight: bold;
}

.font1 {font-family: 'Cuprum', sans-serif;}
.font2 {font-family: 'Jura', sans-serif;}
.font3 {font-family: 'Michroma', sans-serif;}/*THIS*/
.font4 {font-family: 'Nova Mono', monospace;}
.font5 {font-family: 'Philosopher', sans-serif;}
.font6 {font-family: 'Raleway', sans-serif;}
.font7 {font-family: 'Source Code Pro', monospace;}
.font8 {font-family: 'Snippet', sans-serif;}/*THIS*/
.font9 {font-family: 'Text Me One', sans-serif;}
.font10 {font-family: 'Numans', sans-serif;}/*THIS*/
.font11 {font-family: 'Allerta Stencil', sans-serif;}/*THIS*/
.font12 {font-family: 'Reem Kufi', sans-serif;}
.font13 {font-family: 'Antic', sans-serif;}
.font14 {font-family: 'Alegreya Sans SC', sans-serif;}

footer {
	text-align: center;
}